<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile colspan="1">
        <mat-card>
            <div>
                <img mat-card-image src="{{person.image}}">
            </div>
            <mat-card-title>
                <h2>{{person.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <span>{{person.species}} - {{person.origin.name}}</span>
            </mat-card-subtitle>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">2</mat-grid-tile>
</mat-grid-list>