

mat-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    
    text-align: center;
    .img-container{
        background-image: url('../../../assets/background-card.png');
    }

    img {
        width: 15%;
        margin: 0;
        margin-top: 5%;
        border-radius: 300px;
    }

    .tb-datos-generales{
        margin: 0 auto;
        margin-top: 2%;
    }
}

h2{
    color: black;
    font-size: 1.1em;
    margin-top: 1%;
}

span{
    color: black;
    font-size: 1em;
}

.btn-regresar{
    position: fixed;
    left: 1%;
    top: 10%;
    z-index: 101;
}
